/**
======================================
Table of Contents
======================================
- Normalize
- Typography
- Elements
- Forms
- Links
- Accessibility
- Alignments
- Clearings
- Widgets
- Media
- Buttons
- Section Titles
- Theme Style
- General Style
- Components
    - Icon Info Box
    - Tabs
    - Speakers
    - Pricing Table
    - Post Pagination
    - Post Share
- Home Page
    - Navigation Style
    - Hero Section Style
    - About Section Style
    - CTA Section Style
    - Conference Schedule Style
    - Speaker Section Style 
    - Client Testimonial Section Style
    - Event Sow Section Style
    - Cta Video Section Style
    - Pricing Table Section Style
    - Registration Section Style
    - FAQ Section Style
    - Sponsers Section Style
    - Contact Form Section Style
    - Footer Section Style
- Blog Page
    - Page Header
    - Blog Grid
- Sidebar
- Single Blog Page
- Post Comments From
======================================
*/
/* 
----------------------------------
- Normalize
----------------------------------
*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #fff;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    display: block;
    padding: 15px;
    background: #f9f9f9;
    color: #f44336;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
/* 
----------------------------------
- Typography
----------------------------------
*/

html {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #333;
    line-height: 1.8;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #333;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
button,
input,
select,
textarea {
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
    letter-spacing: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
}
h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}
h5 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}
h6 {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 10px;
}
p {
    margin: 0 0 15px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.8;
}
p:last-child {
    margin-bottom: 0px;
}
p img {
    margin: 0;
}
span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 15px 0px;
    background: #f9f9f9;
    position: relative;
    border-left: 0px;
    padding: 15px 15px 15px 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
    border-left: 3px solid #ea4c0f;
}
blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
    color: #8B9798;
    border: none
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}
abbr {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0px;
}
abbr:hover {
    cursor: help;
}
mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}
big {
    font-size: 125%;
}
/* 
----------------------------------
- Elements
----------------------------------
*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul,
ol {
    margin: 0 0 1.5em 0em;
}
ul {
    list-style: none;
}
ol {
    list-style: decimal;
}
li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 15px;
}
/* Material List Items */

ul:not(.browser-default) {} ul:not(.browser-default) li {
    position: relative;
}
ul:not(.browser-default) ul {
    margin-left: 0px;
}
ol:not(.browser-default) {
    padding-left: 0px;
}
ol:not(.browser-default) li {
    list-style: decimal inside;
}
ol:not(.browser-default) ol {
    margin-left: 20px;
}
dl {
    margin: 12px 0;
    padding: 15px;
    background: #eee;
}
dt {
    margin: 0;
    font-size: 1.14rem;
    color: #00bff3;
}
dd {
    margin: 0 0 0 20px;
}
figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
tr {} th,
td {
    border: 1px solid #eee;
    padding: 5px 10px;
}
/* 
----------------------------------
- Forms
----------------------------------
*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    font-size: 1rem;
    line-height: 1;
    padding: .6em 1em .4em;
    letter-spacing: 0px;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    width: 100%;
    height: 56px;
    padding: 0px 15px 0px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0px;
    color: #111 !important;
    border: 0px;
    box-shadow: none;
    outline: 0;
}
select {
    border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
    border-radius: 4px;
    box-shadow: none;
}
textarea {
    width: 100% !important;
    background: #f9f9f9;
    border: 4px;
    color: #111 !important;
    border: 0px;
    box-shadow: none !important;
    outline: 0;
    height: 250px;
}
label {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
/* 
----------------------------------
- Links
----------------------------------
*/

a,
a:visited {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ea4c0f;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}
a:hover,
a:focus,
a:active {
    color: #606060;
    text-decoration: none;
    outline: 0;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
p a,
p a:visited {
    line-height: inherit;
    outline: 0;
}
/* 
----------------------------------
- Accessibility
----------------------------------
*/
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}
/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}
/* 
----------------------------------
- Alignments
----------------------------------
*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 
----------------------------------
- Clearings
----------------------------------
*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
/* 
----------------------------------
- Widgets
----------------------------------
*/

.widget {
    margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets. */

.widget select {
    max-width: 100%;
}
/* 
----------------------------------
- Media
----------------------------------
*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}
/* 
----------------------------------
- Buttons
----------------------------------
*/
.btn,
a.btn {
    padding: 15px 40px;
    font-size: 16px;
}
.btn-geinuine,
a.btn-geinuine {
    background-color: #ea4c0f;
    border-color: #ea4c0f;
    color: #fff;
    border-radius: 45px;
    transition: all 0.3s ease-in;
}
.btn-geinuine:hover,
a.btn-geinuine:hover {
    color: #333;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
.btn-geinuine-alt,
a.btn-geinuine-alt {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    border-radius: 45px;
}
.btn-geinuine-alt:hover,
a.btn-geinuine-alt:hover {
    color: #222;
    background-color: #f2f2f2;
}
.btn-geinuine-sqr,
a.btn-geinuine-sqr {
    border-radius: 4px;
}
.btn-geinuine-sqr i,
a.btn-geinuine-sqr i {
    font-size: 10px;
    margin-left: 10px;
    line-height: 1;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .btn,
    a.btn {
        padding: 10px 25px;
        font-size: 14px;
    }
}
/* 
----------------------------------
- Section Titles
----------------------------------
*/
.section-title-wrap {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.section-title {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    line-height: 1;
    padding-bottom: 30px;
    text-transform: uppercase;
    z-index: 0;
}
.section-title.center-separator,
.section-title.left-separator {
    position: relative;
    z-index: 0;
}
.section-title.left-separator:after {
    content: "";
    position: absolute;
    width: 105px;
    height: 2px;
    background-color: #111;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}
.geinuine-dark .section-title.center-separator:after {
    background-color: #fff;
}
.section-title.center-separator {
    text-align: center;
}
.section-title.center-separator:after {
    content: "";
    position: absolute;
    width: 105px;
    height: 2px;
    background-color: #111;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 1;
}
/* 
---------------------------------
- Default Owl Carousel Customization
---------------------------------
*/
.owl-dots {
    width: 100%;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: -70px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 10;
}
.owl-dot,
.owl-dot.active {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #959595;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    margin: 5px;
}
.owl-dot.active {
    background-color: #ea4c0f;
    border-color: #ea4c0f;
}
.owl-dot:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 5px;
    background-color: #959595;
    border-radius: 2px;
    top: calc( 15px - 2px );
    left: calc( 15px - 5.5px );
    right: 0px;
}
.owl-dot.active:after {
    background-color: #fff;
} 
.owl-nav {
    position: absolute;
    width: 100%;
    height: auto;
    top: 40%;
    left: 0;
    z-index: 1;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
    width: 40px;
    height: 40px;
    background: #111;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.owl-nav .owl-prev {
    float: left;
    margin-left: 50px;
}
.owl-nav .owl-next {
    float: right;
    margin-right: 50px;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    opacity: 1;
    background: #d5b0a6;
}
/* 
----------------------------------
- General Style
----------------------------------
*/
.geinuine-wrap {
    width: 100%;
    height: auto;
    padding: 90px 0px;
}
.geinuine-lite {
    background: #f9f9f9;
    width: 100%;
    height: auto;
    padding: 90px 0px;
}
.geinuine-dark,
.geinuine-dark a,
.geinuine-dark h1,
.geinuine-dark h2,
.geinuine-dark h3,
.geinuine-dark h4,
.geinuine-dark h5,
.geinuine-dark h6 {
    color: #fff;
    line-height: 1;
}
.geinuine-wrap-dark a:hover {
    color: #ea4c0f;
}
.gap-20 {
    width: 100%;
    height: 20px;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .geinuine-wrap {
        padding: 50px 0px;
    }
}
/* 
----------------------------------
- Components
----------------------------------
*/
/**
 * Icon Info Box
 */
.icon-info-component {}
.icon-info-component.icon-left {
    display: flex;
    margin-bottom: 45px;
}
.icon-info-component.icon-left .icon-info {
    font-size: 50px;
    color: #ea4c0f;
    line-height: 1;
}
.icon-info-component.icon-left .icon-info-content {
    padding-left: 25px;
}
.icon-info-component.icon-left .icon-info-content .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    margin-bottom: 0px;
}
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .icon-info-component.icon-left .icon-info-content .title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3;
    }
}
/**
 * Tabs
 */
.genuine-conference-tabs {}
.genuine-conference-tabs .nav-pills {
    justify-content: center;
    margin-bottom: 65px;
}
.genuine-conference-tabs .nav-pills .nav-item {}
.genuine-conference-tabs .nav-pills .nav-item .nav-link {
    text-align: center;
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin: 0px 10px;
}
.genuine-conference-tabs .nav-pills .nav-item .nav-link.active {
    background-color: #ea4c0f;
    color: #fff;
    border-color: #ea4c0f;
}
.genuine-conference-tabs .nav-pills .nav-item .nav-link.active:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #ea4c0f;
    bottom: -14px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 1;
}
.genuine-conference-tabs .nav-pills .nav-item .nav-link .event-date,
.genuine-conference-tabs .nav-pills .nav-item .nav-link .event-day {
    margin: 0px;
    font-weight: 500;
}
.genuine-conference-tabs .tab-content .speaker-row {
    padding: 20px 10px;
    margin-bottom: 30px;
    box-shadow: 1px 5px 81px -11px #ddd;
}
.genuine-conference-tabs .tab-content .speaker-avatar {
    width: 215px;
    height: 215px;
    overflow: hidden;
    border-radius: 10px;
}
.genuine-conference-tabs .tab-content .speaker-content {
    padding: 20px 0px 20px 35px;
}
.genuine-conference-tabs .tab-content .speaker-content .conf-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}
.genuine-conference-tabs .tab-content .speaker-content .conf-meta {
    display: flex;
    justify-content: space-between;
}
.genuine-conference-tabs .tab-content .speaker-content .conf-meta span {
    font-size: 16px;
}
.genuine-conference-tabs .tab-content .speaker-content .conf-meta span i {
    color: #ea4c0f;
    font-size: 16px;
    margin-right: 8px;
} 
.genuine-conference-tabs .tab-content .speaker-details {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .genuine-conference-tabs .tab-content .speaker-avatar {
        margin: auto;
        text-align: center;
    }
    .genuine-conference-tabs .tab-content .speaker-content {
        padding: 30px 0px;
    }
    .genuine-conference-tabs .tab-content .speaker-content .conf-meta span {
        font-size: 12px;
    }
}
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .genuine-conference-tabs .tab-content .speaker-avatar {
        width: 100%;
        height: auto;
    }
    .genuine-conference-tabs .tab-content .speaker-content .conf-meta span {
        font-size: 12px;
    }
    .genuine-conference-tabs .tab-content .speaker-content {
        padding: 0px 0px 20px 0px;
    }
}
/**
 * Speakers
 */
.geinuine-speakers {
    min-height: 370px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.geinuine-speakers:after {
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    content: "";
    position: absolute;
    background-color: rgba( 234, 76, 15, 0.7 );
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.geinuine-speakers .caption {
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    padding: 0px 30px;
}
.geinuine-speakers:hover::after {
    transform: translateX(0%);
}
.geinuine-speakers:hover .caption {
    transform: scale(1);
}
.geinuine-speakers .caption .speaker-name {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    margin-bottom: 12px;
}
.geinuine-speakers .caption .entitled {
    display: block;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    display: block;
    position: relative;
    z-index: 0;
}
.geinuine-speakers .caption .entitled:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #fff;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 1;
}
.geinuine-speakers .caption .social-connections {
    padding: 10px 0px;
}
.geinuine-speakers .caption .social-connections a {
    font-size: 30px;
    color: #fff;
    line-height: 1;
    margin: 0px 10px;
}
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width:1024px) {}
/**
 * Pricing Table
 */
.geinuine-pricing-table {
    position: relative;
    z-index: 0;
    padding: 0px 35px;
    box-shadow: 1px 5px 81px -11px #ddd;
    border-radius: 50px 0px 50px 0px;
    border-top: 20px solid;
    border-top-color: #d1d1d1;
}
.geinuine-pricing-table.recomended {
    border-color: #e44a0f;
}
.geinuine-pricing-table .pricing-header {
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}
.geinuine-pricing-table .pricing-header .pricing-name,
.geinuine-pricing-table .pricing-header .pricing-value {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    line-height: 1;
    margin: 0px;
}
.geinuine-pricing-table .pricing-header .pricing-value .price-symbol {}
.geinuine-pricing-table .pricing-content {}
.geinuine-pricing-table .pricing-content ul {
    padding: 20px;
    margin: 0px;
    width: 100%;
    border: 1px solid #959595;
    border-radius: 30px 0px 30px 0px;
}
.geinuine-pricing-table .pricing-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.geinuine-pricing-table .pricing-content ul li:nth-child( odd ) {
    background-color: #ebebeb;
}
.geinuine-pricing-table .pricing-footer {
    padding: 35px 0px;
    text-align: center;
}
.geinuine-pricing-table .btn-geinuine-alt {
    border-color: #959595;
    color: #333;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) { 
    .geinuine-pricing-table {
        margin-bottom: 30px;
    }
}
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .geinuine-pricing-table {
        margin-bottom: 30px;
    }
}
/**
 * Post Pagination
 */
.post-pagination {}
.post-pagination .pagination {}
.post-pagination .pagination .page-item {
    margin-right: 10px;
}
.post-pagination .pagination .page-item .page-link {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 1.7;
}
.post-pagination .pagination .page-item.active .page-link {
    background-color: #ea4c0f;
    border-color: #ea4c0f;
    color: #fff;
}
/**
 * Post Share
 */
.post-share {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px 30px 0px;
}
.post-share .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    padding: 0px 30px;
    border-left: 3px solid #ea4c0f;
    text-transform: uppercase;
    margin: 0px;
}
.post-share a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 2.5;
    position: relative;
    z-index: 0;
    margin: 0px 22px;
}
.post-share a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 1px solid #5b5b5d;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}
.post-share a:hover::after {
    border-color: #fff;
}
.post-share a .icofont-social-facebook {
    color: #3b5998;
}
.post-share a .icofont-social-twitter {
    color: #1da1f2;
}
.post-share a .icofont-social-google-plus {
    color: #dd4b39;
}
.post-share a .icofont-social-linkedin {
    color: #0077b5;
}
.post-share a .icofont-social-youtube {
    color: #ff0000;
}
.post-share a .icofont-social-pinterest {
    color: #bd081c;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .post-share .title {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    .post-share a {
        margin: 0px 10px;
    }
}
/* 
----------------------------------
- Home Page
----------------------------------
*/
/**
 * Preloader Style
 */

/**
 * Navigation Style
 */
.header-navbar-area {}
.header-navbar-area .navbar {
    padding: 20px 0px;
    background-color: rgba( 0,0,0,0.4 );
    transition: all 0.3s ease-in;
}
.header-navbar-area .navbar .navbar-brand {
    max-width: 150px;
}
.header-navbar-area .navbar .navbar-brand img {}
.header-navbar-area .navbar .navbar-nav {
    width: 100%;
    justify-content: flex-end;
}
.header-navbar-area .navbar .navbar-nav .nav-item {}
.header-navbar-area .navbar .navbar-nav .nav-item.active {}
.header-navbar-area .navbar .navbar-nav .nav-item.active .nav-link,
.header-navbar-area .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #ea4c0f;
}
.header-navbar-area .navbar .navbar-nav .nav-item .nav-link.active {
    color: #ea4c0f;
    outline: 0;
}
.header-navbar-area .navbar .navbar-nav .nav-item .nav-link:focus {
    outline: 0;
}
.header-navbar-area .navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    margin-right: 9px;
}
.header-navbar-area .navbar .navbar-nav .nav-item:nth-last-child(1) .nav-link {
    margin-right: 0px;
}
/* Dropdown Menu */
.navbar-expand-lg .navbar-nav .dropdown-menu {
    border: 0px;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.9);
    top: 58px;
    margin: 0px;
    padding: 0px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 15px;
    border-bottom: 1px solid rgba( 240, 240, 240, 0.1 );
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: transparent;
    color: #ea4c0f;
}
/* Adjusting Nav-color When Scroll Down */
.header-navbar-area .navbar.bg-dark {
    background: rgba( 0,0,0,0.9 )!important;
    padding: 10px;
    transition: all 0.3s ease-in;
}
.header-navbar-area .navbar.bg-dark .navbar-brand {
    max-width: 120px;
}
/* Mobile Layout */
@media only screen and (max-width: 1024px) {
    .header-navbar-area .navbar {
        background-color: rgba( 0,0,0,0.9 );
    }
    .header-navbar-area .navbar,
    .header-navbar-area .navbar.bg-dark {
        padding: 10px 20px;
    }
    .header-navbar-area .navbar .navbar-brand {
        max-width: 80px;
    }
    .header-navbar-area .navbar .navbar-toggler {
        background: transparent;
        outline: 0px;
        border: 0px;
    }
    .header-navbar-area .navbar .navbar-toggler .menu-icon i {
        color: #fff;
        font-size: 24px;
        transition: all 0.3s ease-in;
    }
    .header-navbar-area .navbar.bg-dark .navbar-toggler .menu-icon i {
        font-size: 16px;
    }
    .header-navbar-area .navbar.bg-dark .navbar-brand {
        max-width: 70px;
    }
    .header-navbar-area .navbar .navbar-nav .nav-item .nav-link {
        font-size: 14px;
        line-height: 1.6;
        border-bottom: 1px solid rgba( 240,240,240,0.1 );
    }
    .header-navbar-area .navbar .navbar-nav .nav-item:first-child .nav-link {
        border-top: 1px solid rgba( 240,240,240,0.1 );
    }
    .header-navbar-area .navbar .navbar-nav .nav-item:last-child .nav-link {
        border-bottom: 0px;
    }
}
/**
 * Hero Section Style
 */
.hero-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}
.hero-area:after {
    content: "";
    position: absolute;
    background-color: rgba( 0,0,0,0.5 );
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.hero-content {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.hero-content-inner {
    width: 100%;
    height: auto;
    text-align: center;
}
.hero-content-inner .event-date {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1;
    z-index: 0;
}
.hero-content-inner .event-date:before {
    content: "";
    position: absolute;
    width: 155px;
    height: 2px;
    background-color: #fff;
    top: 13px;
    left: -205px;
    z-index: 1;
}
.hero-content-inner .event-date:after {
    content: "";
    position: absolute;
    width: 155px;
    height: 2px;
    background-color: #fff;
    top: 13px;
    right: -205px;
    z-index: 1;
}
.hero-content-inner .hero-title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
}
.hero-content-inner .hero-sub-text {
    font-size: 18px;
}
.hero-content-inner .btn {
    margin: 35px 10px;
}
.hero-content-inner .event-timer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content-inner .event-timer h3 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    margin: 0px 15px;
}
.hero-content-inner .event-timer h3 span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .hero-content-inner .event-date {
        font-size: 16px;
    }
    .hero-content-inner .event-date:before,
    .hero-content-inner .event-date:after {
        display: none;
    } 
    .hero-content-inner .hero-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.2;
    }
    .hero-content-inner .hero-sub-text {
        font-size: 16px;
    }
    .hero-content-inner .event-timer h3 {
        font-size: 32px;
        line-height: 1.2;
        margin: 0 10px;
    }
    .hero-content-inner .event-timer h3 span {
        font-size: 18px;
    }
}
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width:1024px) {}
/**
 * About Section Style
 */
.about-event-area {
    padding-bottom: 0px;
}
/**
 * CTA Section Style
 */
.cta-area {
    background-image: url( '../img/cta-bg.jpg' );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.cta-title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    line-height: 1;
}
.cta-area .btn {
    margin: 15px 10px 0px 10px;
}
/**
 * Conference Schedule Style
 */
.conference-schedule-area {}
/**
 * Speaker Section Style 
 */
.speaker-area {}
.featured-speaker-img {
    width: 100%;
    min-height: 500px;
    background-image: url( '../img/featured-speaker-bg.jpg' );
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.featured-speaker-content {
    background: #ea4c0f;
    color: #fff;
    min-height: 500px;
    padding: 20px 30px;
    margin-bottom: 30px;
}
.featured-speaker-content .title {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    line-height: 1.4;
}
.featured-speaker-content .entitled {}
/* Mobile Layout */
@media only screen and (max-width: 767px) { 
    .featured-speaker-img {
        min-height: 200px;
        margin-bottom: 0px;
    }
}
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .featured-speaker-img {
        min-height: 350px;
        margin-bottom: 0px;
    }
}
/**
 * Client Testimonial Section Style
 */
.testimonial-area {
    width: 100%;
    height: auto;
    background-image: url( '../img/testimonial-bg.jpg' );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.testimonial-area:after {
    content: "";
    background: rgba( 0,0,0,0.7 );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.testimonial-carousel {}
.testimonial-carousel .testimonial-content {}
.testimonial-carousel .testimonial-content .testimonial-quote {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 25px 15px 20px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    font-style: normal;
    position: relative;
    z-index: 0;
    text-indent: 45px;
    margin-bottom: 25px;
}
.testimonial-carousel .testimonial-content .testimonial-quote:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    bottom: -10px;
    left: 40px;
    z-index: 1;
}
.testimonial-carousel .owl-item.center .testimonial-content .testimonial-quote {
    background-color: #ea4c0f;
    border-color: #ea4c0f;
}
.testimonial-carousel .owl-item.center .testimonial-content .testimonial-quote:after {
    border-top-color: #ea4c0f;
}
.testimonial-carousel .testimonial-content .testimonial-quote:before {
    content: "\f10d";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: -25px;
    z-index: 1;
    font-family: 'FontAwesome';
    font-size: 30px;
    color: #fff;
}
.testimonial-carousel .testimonial-endorser {
    display: flex;
    align-items: center;
}
.testimonial-carousel .testimonial-endorser .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 25px 0px 5px;
}
.testimonial-carousel .testimonial-endorser .identity {}
.testimonial-carousel .testimonial-endorser .identity .endorser-name {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 10px;
}
.testimonial-carousel .testimonial-endorser .identity .entitled {}

/**
 * Event Sow Section Style
 */
.event-show-area {
    padding-bottom: 150px;
}
.event-show-grid {}
.event-show-grid .event-show-img {
    width: 100%;
    min-height: 500px;
    display: block;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.event-show-grid .event-show-img:after {
    content: "";
    position: absolute;
    width: 120%;
    height: 40%;
    border-radius: 50%;
    background-color: #fff;
    bottom: -23%;
    left: -10%;
    right: 0px;
    z-index: 1;
    margin: 0 auto;
}
.event-show-grid .event-show-img .tag-name {
    position: absolute;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    color: #ea4c0f;
    line-height: 1;
    background-color: #fff;
    border-radius: 20px;
    right: 30px;
    top: 20px;
    transition: all 0.3s ease-in;
}
.event-show-grid .event-show-img:hover .tag-name {
    background-color: #ea4c0f;
    color: #fff;
}
.event-show-grid .event-show-img .on-hover a {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #ea4c0f;
    line-height: 2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% ) scale( 0 );
    transition: all 0.3s ease-in;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    font-size: 24px;
}
.event-show-grid .event-show-img:hover a {
    transform: translate( -50%, -50% ) scale( 1 );
}
.event-show-grid .event-show-content {
    padding: 10px;
    text-align: center;
}
.event-show-grid .event-show-content .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}
.event-show-grid .event-show-content .event-show-meta {
    display: flex;
    justify-content: space-between;
}
.event-show-grid .event-show-content .event-show-meta span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
.event-show-grid .event-show-content .event-show-meta span i {}
/**
 * Cta Video Section Style
 */
.youtube-video-area {
    width: 100%;
    height: auto;
    background-image: url( '../img/youtube-bg.jpg' );
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    z-index: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}
.youtube-video-area:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;  
    left: 0px;
    background-color: rgba( 0,0,0,0.7 );
    z-index: -1;
}
.youtube-video-area .title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4;
}
.youtube-video-btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    padding: 0px;
    margin: 0px auto;
    color: #959595;
    margin: 20px auto 30px auto;
}
.youtube-video-btn i {
    color: #959595;
    font-size: 23px;
    line-height: 2.3;
    margin: 0px;
    padding: 0px;
    margin-left: 4px;
}
/**
 * Pricing Table Section Style
 */
.event-pricing-area {
    width: 100%;
    height: auto;
}

/**
 * Registration Section Style
 */
.registration-area {
    width: 100%;
    height: auto;
    background-image: url( '../img/register-bg.jpg' );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.registration-area:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba( 0,0,0,0.7 );
    z-index: -1;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) { 
    .geinuine-event-reg-form .form-control {
        margin-bottom: 30px;
    }
    .geinuine-event-reg-form .btn-geinuine-sqr {
        width: 100%;
    }
}
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .geinuine-event-reg-form .btn-geinuine-sqr {
        margin-top: 20px;
        width: 100%;
    }
}
/**
 * FAQ Section Style
 */
.geinuine-faq-tab {
    display: flex;
}
.geinuine-faq-tab .nav-pills {
    flex: 1 1 30%;
    border-left: 1px solid #959595;
    border-right: 1px solid #959595;
}
.geinuine-faq-tab .nav-pills .nav-link {
    padding: 25px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    line-height: 1.2;
    margin-left: -1px;
}
.geinuine-faq-tab .nav-pills .nav-link.active {
    background-color: transparent;
    color: #ea4c0f;
    border-left: 2px solid #ea4c0f;
    border-radius: 0px;
    position: relative;
    z-index: 0;
    outline: 0;
}
.geinuine-faq-tab .nav-pills .nav-link.active:after {
    content: "\eb79";
    position: absolute;
    font-family: IcoFont;
    font-size: 22px;
    top: 23px;
    right: 20px;
    z-index: 1;
}
.geinuine-faq-tab .tab-content {
    flex: 1 1 70%;
    padding-left: 30px;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) { 
    .geinuine-faq-tab{
        display: block;
    }
    .geinuine-faq-tab .nav-pills,
    .geinuine-faq-tab .tab-content {
        width: 100%;
    }
    .geinuine-faq-tab .nav-pills {
        margin-bottom: 30px;
    }
    .geinuine-faq-tab .tab-content {
        padding: 0px 10px;
    }
}
/**
 * Sponsers Section Style
 */
.sponsers-area {
    width: 100%;
    height: 100%;
}
.geinuine-sponsers {
    padding: 40px;
    flex: 1 1 25%;
}
.geinuine-sponsers:nth-child(1),
.geinuine-sponsers:nth-child(2),
.geinuine-sponsers:nth-child(3) {
    border-right: 1px solid #959595;
    border-bottom: 1px solid #959595;
}
.geinuine-sponsers:nth-child(4) {
    border-bottom: 1px solid #959595;
}
.geinuine-sponsers:nth-child(5),
.geinuine-sponsers:nth-child(6),
.geinuine-sponsers:nth-child(7) {
    border-right: 1px solid #959595;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) { 
    .geinuine-sponsers {
        flex: 1 1 50%;
    }
    .geinuine-sponsers:nth-child(odd) {
        border: 0px;
        border-right: 1px solid #959595;
        border-bottom: 1px solid #959595;
    }
    .geinuine-sponsers:nth-child(even) {
        border: 0px;
        border-bottom: 1px solid #959595;
    }
    .geinuine-sponsers:nth-last-child(1),
    .geinuine-sponsers:nth-last-child(2) {
        border-bottom: 0px;
    }
}
/**
 * Contact Form Section Style
 */
.contact-us-area {
    width: 100%;
    height: 100%;
    background-image: url( '../img/contact-bg.jpg' );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.contact-us-area:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba( 0,0,0,0.7 );
    z-index: -1;
}
.contact-us-area .form-control {
    margin-bottom: 30px;
}
.contact-us-area .btn-geinuine-sqr {
    padding-left: 100px;
    padding-right: 100px;
}
/**
 * Footer Section Style
 */
.footer-area {
    width: 100%;
    height: auto;
    padding: 90px 0px;
    background-color: #101015;
    color: #fff;
}
.footer-nav {
    width: 100%;
    height: auto;
}
.footer-nav ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.footer-nav ul li {}
.footer-nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-transform: capitalize;
}
.footer-nav ul li a:hover,
.footer-nav ul li.active a {
    text-decoration: line-through;
}
.footer-widget {}
.footer-widget .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}
.footer-logo {
    margin: 30px 0px;
}
.footer-logo img {
    max-width: 155px;
}
.footer-social-widget {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-social-widget a {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 3;
    position: relative;
    z-index: 0;
    margin: 0px 22px;
}
.footer-social-widget a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 1px solid #5b5b5d;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}
.footer-social-widget a:hover::after {
    border-color: #fff;
}
.footer-social-widget a .icofont-social-facebook {
    color: #3b5998;
}
.footer-social-widget a .icofont-social-twitter {
    color: #1da1f2;
}
.footer-social-widget a .icofont-social-google-plus {
    color: #dd4b39;
}
.footer-social-widget a .icofont-social-linkedin {
    color: #0077b5;
}
.footer-social-widget a .icofont-social-youtube {
    color: #ff0000;
}
.footer-social-widget a .icofont-social-pinterest {
    color: #bd081c;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) { 
    .footer-social-widget a {
        margin-bottom: 40px;
    }
}
/* 
----------------------------------
- Blog Page
----------------------------------
*/
/**
 * Page Header
 */
.page-header-area {
    width: 100%;
    min-height: 400px;
    background-image: url( '../img/page-header-bg.jpg' );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 120px;
}
.page-header-area:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba( 0,0,0,0.7 );
    z-index: -1;
}
.page-header-title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    transform: translateY( -50% );
}
/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .page-header-area {
        min-height: 180px;
        padding-bottom: 15px;
    }
}
/**
 * Blog Grid
 */
.post-grid {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;
}
.post-grid .post-image {
    position: relative;
    display: block;
    width: 100%;
    max-height: 450px;
    z-index: 0;
}
.post-grid .post-image .post-date-badge {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: #ea4c0f;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 7px;
}
.post-grid .post-image .post-date-badge .post-date {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin: 0px;
}
.post-grid .post-image .post-date-badge .post-month {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
.post-grid .post-title {
    padding: 20px 0px 0px 0px;
}
.post-grid .post-title .title, 
.post-grid .post-title .title a {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    color: #333;
}
.post-grid .post-title .title a:hover {
    color: #ea4c0f;
}
.post-grid .post-meta {
    display: flex;
    margin-bottom: 15px;
}
.post-grid .post-meta span  {
    display: inline-block;
    margin: 0px 10px;
    position: relative;
    z-index: 0;
}
.post-grid .post-meta span:first-child {
    margin-left: 0px;
}
.post-grid .post-meta span:after {
    content: "|";
    position: absolute;
    right: -10px;
    top: 0px;
    z-index: 1;
    color: #d1d1d1;
}
.post-grid .post-meta span:last-child::after {
    display: none;
}
.post-grid .post-meta span i {
    color: #b1b1b1;
    margin-right: 5px;
    font-size: 16px;
}
.post-grid .post-meta span a {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1;
}
.post-grid .post-meta span a:hover {
    color: #ea4c0f;
}
.post-grid .post-content {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1;
}
.post-grid .post-read-more {
    margin-bottom: 30px;
}
/* Video Post */
.post-grid .post-video {}
.post-grid .post-video .youtube-player {
    width: 100%;
    min-height: 450px;
    border: 0px; 
}
/* 
----------------------------------
- Sidebar Area
----------------------------------
*/
.sidebar-area {}
.sidebar-widget {
    margin-bottom: 30px;
}
.sidebar-widget:last-child {
    margin-bottom: 0px;
}
.sidebar-widget ul {
    margin: 0px;
    padding: 0px;
}
.sidebar-widget .title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    line-height: 1.3;
    text-transform: uppercase;
    border-left: 4px solid #ea4c0f;
    padding-left: 20px;
    margin-bottom: 40px;
}
.sidebar-widget .recent-post-thumb {}
.sidebar-widget .recent-post-thumb li {
    min-height: 100px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 15px;
}
.sidebar-widget .recent-post-thumb li:last-child {
    border-bottom: 0px;
}
.sidebar-widget .recent-post-thumb li .list-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 80px;
}
.sidebar-widget .recent-post-thumb li .list-content {
    padding-left: 120px;
}
.sidebar-widget .recent-post-thumb li .list-content .list-title,
.sidebar-widget .recent-post-thumb li .list-content .list-title a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 1.5;
}
.sidebar-widget .recent-post-thumb li .list-content .list-title a:hover {
    color: #ea4c0f;
}
.sidebar-widget .list-categories {}
.sidebar-widget .list-categories li {
    display: flex;
    align-items: center;
    min-height: 45px;
    border-bottom: 1px solid #d1d1d1;
}
.sidebar-widget .list-categories li:last-child {
    border: 0px;
}
.sidebar-widget .list-categories li  a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #333;
}
.sidebar-widget .list-categories li  a:hover {
    color: #ea4c0f;
}
.sidebar-widget .btn-tag {
    padding: 12px 20px;
    border: 1px solid #d1d1d1;
    color: #333;
    line-height: 3.5;
    margin-right: 5px;
    border-radius: 4px;
}
.sidebar-widget .btn-tag:hover {
    background-color: #ea4c0f;
    border-color: #ea4c0f;
    color: #fff;
}
/* Mobile Layout */
@media only screen and (max-width: 1024px) {
    .sidebar-area {
        margin-top: 30px;
    }
}
/* 
----------------------------------
- Single Blog Page
----------------------------------
*/
.post-single-grid {
    border-bottom: 0px;
}

/* 
----------------------------------
- Post Comments
----------------------------------
*/
.post-comments {
    margin-top: 10px;
    margin-bottom: 30px;
}
.post-comments .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    line-height: 1;
    padding-left: 30px;
    border-left: 3px solid #ea4c0f;
    margin-bottom: 30px;
}
.post-comments ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.post-comments ol li {
    list-style: none;
    position: relative;
    z-index: 0;
    margin-bottom: 35px;
}
.post-comments ol li .cmnts-auth-img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top:0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
}
.post-comments ol li .cmnts-content {
    padding-left: 100px;
    display: block;
    min-height: 100px;
}
.post-comments ol li .cmnts-content .auth-name {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 1;
    margin-bottom: 10px;
}
.post-comments ol li .cmnts-content .cmnt-date {
    font-size: 14px;
    font-weight: 400;
    line-height: 1
}
.post-comments ol li .cmnts-content .cmnt-date i {
    color: #ea4c0f;
    margin-right: 7px;
}
.post-comments ol li .cmnts-content .comment {
    font-size: 15px;
    line-height: 1.7;
}
.post-comments ol li .cmnts-content .btn-cmnt-reply {
    padding: 10px 18px;
    color: #fff;
    background-color: #ea4c0f;
    border-radius: 4px;
}
.post-comments ol li .cmnts-content .btn-cmnt-reply:hover {
    background-color: #f9f9f9;
    color: #333;
}
/* Nested comments */
.post-comments ol li ol {
    margin: 30px 0px 15px 30px;
    background-color: #f2f2f2;
    padding: 25px 15px 2px 15px;
}
/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .post-comments ol li .cmnts-auth-img {
        width: 60px;
        height: 60px;
    }
    .post-comments ol li .cmnts-content {
        padding-left: 75px;
    }
}
/* 
----------------------------------
- Post Comments From
----------------------------------
*/
.post-comments-form {}
.post-comments-form .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    line-height: 1;
    padding-left: 30px;
    border-left: 3px solid #ea4c0f;
    margin-bottom: 30px;
}
.comment-form input[type="text"],
.comment-form input[type="email"] {
    background: none;
    border: 1px solid #d1d1d1;
    position: relative;
    z-index: 0;
    padding-left: 35px;
    margin-bottom: 15px;
}
.comment-form textarea {
    padding: 15px 35px;
    outline: 0;
    margin-bottom: 15px;
}
.comment-form span {
    display: block;
    position: relative;
    z-index: 0;
}
.comment-form span.cmnts-fisrtname:after,
.comment-form span.cmnts-email:after,
.comment-form span.cmnts-msg:after {
    position: absolute;
    font-family: IcoFont;
    font-size: 16px;
    color: #d1d1d1;
    top: 14px;
    left: 10px;
    z-index: 1;
}
.comment-form span.cmnts-fisrtname:after {
    content: "\eddc";
}
.comment-form span.cmnts-email:after {
    content: "\ed32";
}
.comment-form span.cmnts-msg:after {
    content: "\efe6";
}

.credits{
	font-size:12px;
	text-align:center;
	padding-top:50px;
	display:block;
	clear:both;	
}
